.title{
    color: rgb(255, 251, 0);
    text-align: center;
    margin-top: 5%;
    font-family: orbitron;
    font-size: 100px;

}
.smtitle{
    color: rgb(255, 251, 0);
    text-align: center;
    margin-top: 5%;
    font-family: orbitron;
    font-size: 75px;

}

.credits{
    color: rgb(234, 234, 234);
    text-align: center;
    margin-top: 5%;
    font-family: orbitron;
    font-size: 50px;

}


body{
    background-color: #050c75;
    font-family: orbitron;

}

body:hover{
    cursor: pointer;

}

.welcome{
    color: white;
    text-align: center;
    margin-top: 20%;
    font-family: orbitron;
    font-size: larger;

}

button{
    /* background-color: #ff5733; */
    margin-left: 45%;
    background-color: rgb(0, 0, 0);
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 20px;
    cursor: pointer;
    border-radius: 12px;
    align-self: center;
    

}

button:hover{
    animation:  10s forwards;
    background-color: #06af79;
    color: white;
    /* content: ">>>"; */
    content: '>>>';
}


